.App {
  text-align: center;
}

.App-header {
  background-color: rgb(0, 0, 163);
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.column-container, .row-container{
  display: flex;
  flex-direction: row;
}

.column{
  border: 1px solid #333;
  padding: 5px;
}

.row-container .column{
  word-break: break-word;
}

.flex{
  flex: 1 0 auto;
}

.table-data{
  overflow: auto;
  height: calc(100vh - 120px);
}

.p-10{
  padding: 10px;
}