

.App-header {
  background-color: rgb(0, 0, 163);
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.column-container, .row-container{
  display: flex;
  flex-direction: row;  
}
.row-container{
  border-bottom: 1px solid #ccc;
}

.column-container{
  font-weight: bold;
  border-bottom: 1px solid #333;
}

.row-container .column{
  word-break: break-word;
}

.column > span {
  padding: 5px;
  display: block;
}

.flex{
  flex: 1 0 auto;
}

.table-data{
  overflow: auto;
  height: calc(100vh - 120px);
}

.p-10{
  padding: 10px;
}

.align-right{
  text-align: right;
}

.checkbox{
  text-align: center;
  width: 70px;
  padding: 4px 0px;
}